language: php
php:
- 5.6
env:
- DB=mysql
before_script:
- if [[ "$DB" == "mysql" ]]; then mysql -e "create database IF NOT EXISTS hello_world_test;"
  -uroot; fi
install: composer install
script: phpunit --bootstrap init_autoloader.php --coverage-text tests/
deploy:
  provider: opsworks
  access_key_id: AKIAI6TLAGI64KKGIOXA
  secret_access_key:
    secure: q/q7nWIInZu+zPH5gC9qBMfXQtcNwwa2WOwDGxXbebwBbaj8d8gBo9sIORTlczmsslzsrXKE+RSoFW3C+IGIN369vq44PALasmkNKPr5GNy0VrNeGOnBSY4te+oAISmd+Iwe78rzB5Cvy19UtJx0GCZw9hc5PXWMVlPuJ7Vs4WGgvAJtMGJheptgYHuYshndXQj0BPQ0jmJHHXjMy2CvEr9SPN6ZTV2DWfFq2yMFcz9DhK2nAQV6yuL0Ywr+WnYh9EId/HJcZ+VW2AQYd/qfyH2IDbhLqVVWxxoqZ9Nx03+PSwLS5hq85nejkTTHQmXQlFrWQrulMgQZdehiBfEd7uYVBbUkC9IpzS5bmPPq9EQgzvCEveWi1jt0BFNI5CjiJFAmu6xqd+VYEC/Qn5okUKyrIVNZ+QnasHIy+1ATCQzOfyCBe+VUIcGDdvQk737SzHDwTuzNBS0PSpeZ3TjpQJGLrLHZneX142stnHKEfTiOY+DisIqrFF6bj/fTtwMtQK8BQ5C65lcIZPg6E3fSNiH0tilz1BBbjH+TJQyZhgJEv6CsZL1ccZZPxEXyt1r5LJkqyKc30OjauFMV5NBTmkKnZcA80rTKTR8DUDLkPINaH0ESfgQd5PORCJHn9SCOnlLvdVLVmGYOSg3XQ4W5wMreUdC11tKqCmzYsHLgg1A=
  app-id: myapp-slack-app1
  on:
    repo: mikaelh/docker-php-amazon
